{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Accueil{% endblock %}

{% block body %}
<img src="{{asset('images/accueil_1920.jpg')}}" class="img-fluid" alt="">
<div class="position-absolute top-50 start-50 translate-middle">
    
    <img class="avatar mx-auto mb-3" style="height: 100px;   display: block;" alt="avatar du contact" src="{{asset('images/coach_400_400.jpg')}}">
    
    <h5 class="mb-4 text-center">Bienvenue sur <strong><span class="text-success">MeetClub</span></strong> !<br/><br/>
    Trouver des Sports Partners ?</br>Un contact pro ?</br>Une rencontre privée ?</h5>
    
    <a href="#" class="btn btn-primary btn-lg d-block" role="button">Je consulte la liste des Membres</a>
</div>
{% endblock %}

